<div class="container">
    <div class="row">
        <div class="col-md-6">
            <input type="text" id="ids" style="border: none;background-color: #e1e1e1;" disabled value="{{result.bk_id}}-{{result.cat}}-{{result.gen_id}}">
                <style>
                    #ids:focus-visible {
                        outline: none;
                    }
                    #ids{
                        font-size: 1.5rem;
                        width: 30%;
                        text-align: centerf;
                    }
                </style>            
            <div class="cover">
                <img src="data:image/png;base64,{{result.img}}" alt="" class="cen img-fluid">
            <div class="row d-none d-md-flex d-lg-none m-3">
                <button type="button" onclick="window.location.href='/edit-book/{{result._id}}'"  class="col-12   my-2 btn btn-primary">Edit</button>
            </div>                 
            </div>
        </div>
        <div class="col-md-6">
            <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>Book Name</td>
                    <td></td>
                    <td>{{result.bk_name}}</td>
                </tr>
                                <tr>
                    <td>Author Name</td>
                    <td></td>
                    <td>{{result.au_name}}</td>
                </tr>
                <tr>
                    <td>Language</td>
                    <td></td>
                    <td>{{result.lg}}</td>
                </tr>
                <tr>
                    <td>price</td>
                    <td></td>
                    <td>{{result.price}}</td>
                </tr>
                <tr>
                    <td>Date of Publication</td>
                    <td></td>
                    <td>{{result.dop}}</td>
                </tr>
                <tr>
                    <td>category</td>
                    <td></td>
                    <td>{{result.cat}}</td>
                </tr>
                <tr>
                    <td>Number of Pages</td>
                    <td></td>
                    <td>{{result.nop}}</td>
                </tr>                
                <tr>
                    <td>Publishers</td>
                    <td></td>
                    <td>{{result.pub}}</td>
                </tr>                                                
            </tbody>
            </table> 
            <div class="align-items-center d-md-none d-lg-block">
                <button  onclick="window.location.href='/edit-book/{{result.bk_id}}'" type="button" class="col-6   mx-auto btn btn-primary">Edit</button>
                <button onclick="window.location.href='/rend-book/{{result.bk_id}}'" type="button" class="col-5 mx-auto btn btn-secondary">rend</button>
            </div>           
            
        </div>
    </div>
</div>    
<style>
.cen {
    max-height: 350px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

</style>