<div class="row p-4">
    <div class="col-12 col-sm-t  my-4">
        <div class="card bg-primary text-white shadow" onclick="window.location='/view-books'">
            <div class="card-body">
                Total Books
                <div class="text-white-50 small">{{count}}</div>
            </div>
        </div>
    </div>
</div>
<div class="row p-4">

        <div class="col-12 col-sm-t  my-4">
        <div class="card bg-success text-white shadow" onclick="window.location='/search-gen/U'">
            <div class="card-body">
                ഉപന്യാസം (U)
                <div class="text-white-50 small">{{u}} books</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-t  my-4">
        <div class="card bg-info text-white shadow" onclick="window.location='/search-gen/N'">
            <div class="card-body">
                നോവൽ (N)
                <div class="text-white-50 small">{{n}} books</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-t  my-4">
        <div class="card bg-warning text-white shadow" onclick="window.location='/search-gen/DN'">
            <div class="card-body">
                <small> ഡിക്ടിവ് നോവൽ (DN)</small>
                <div class="text-white-50 small">{{dn}} books</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-t  my-4">
        <div class="card bg-danger text-white shadow" onclick="window.location='/search-gen/C'">
            <div class="card-body">
                ചെറുകഥ (C)
                <div class="text-white-50 small">{{c}} books</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-t  my-4">
        <div class="card bg-secondary text-white shadow" onclick="window.location='/search-gen/B'">
            <div class="card-body">
                <small>ബാലസാഹിത്യം (B)</small>
                <div class="text-white-50 small">{{b}} books</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-t  my-4">
        <div class="card bg-light text-black shadow" onclick="window.location='/search-gen/D'">
            <div class="card-body">
                നാടകം (D)
                <div class="text-black-10 small">{{d}} books</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-t  my-4">
        <div class="card bg-dark text-white shadow" onclick="window.location='/search-gen/E'">
            <div class="card-body">
                ഇംഗ്ലീഷ് (E)
                <div class="text-white-50 small">{{e}} books</div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-t  my-4">
        <div class="card bg-primary text-white shadow" onclick="window.location='/search-gen/H'">
            <div class="card-body">
                ഹിന്ദി (H)
                <div class="text-white-50 small">{{h}} books</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-t  my-4">
        <div class="card bg-primary text-white shadow" onclick="window.location='/search-gen/S'">
            <div class="card-body">
                സംസ്ക്യതം (S)
                <div class="text-white-50 small">{{s}} books</div>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-t  my-4">
        <div class="card bg-primary text-white shadow" onclick="window.location='/search-gen/P'">
            <div class="card-body">
                പദ്യം (P)
                <div class="text-white-50 small">{{p}} books</div>
            </div>
        </div>
    </div>
</div>



<style>
    .col-sm-t {
        flex: 0 0 20%;
        max-width: 20%;
    }   
    .card-body{
        font-size: 1.4rem;
    }
</style> 