<div align="center" class="cen" >
    <p class="red"></p> 
    <p>Given Book</p>

</div>
<div align="center" class="cen">

    <p class="green"></p>
    <P>Returned Book</P>
</div>

<div align="center" class="cen">

    <p class="fas fa-exchange-alt"></p>
    <P>Click This icon For Returning The book</P>
</div>


<section  class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Sl.No</th>
                <th>Book Id</th>
                <th>Book Name</th>
                <th>Author</th>
                <th>Gener</th>
                <th>Member Id</th>
                <th>Member Name</th>
                <th>Date</th>                
                {{!-- <th>Status</th>                 --}}
            </tr>
        </thead>
        <tbody  style="color: #fff;">
            {{#each rend}}
                {{#if status}}
                <tr id="{{this._id}} "  style="background-color: rgb(145, 207, 145);">
                {{else}}
                <tr id="{{this._id}} " style="background-color: rgb(253, 116, 116)">
                {{/if}}
                <td>{{this.sl}} </td>                
                <td>{{this.bk_id}}</td>
                <td>{{this.bk_nm}}</td>
                <td>{{this.au_name}}</td>
                <td>{{this.gen}}</td>
                <td>{{this.mem_id}}</td>
                <td>{{this.mn}}</td>
                <td>{{this.dt}} </td>
                {{#if status}}
                
                {{else}}
                    <td onclick="myFunction('{{this._id}}')" id="id" ><span class="fas fa-exchange-alt "></span> </td>
                {{/if}}
            </tr>            
 
            {{/each}}
        </tbody>
    </table>
</section>
<script>

    function myFunction(id){
        var txt;
        var r = confirm("Are You sure to Return Book");
        if (r == true) {
            
            window.location.assign('/return-book/' + id)
        } else {
            tx
        }
        
    }
</script>

</script>