<div class="container ">
    <div class="row">
        <div  class="cen " class="mr-1">
            <p class="white"></p>
            <p>Given Book (0-15 Days)</p>
        </div>
        <div  class="cen" class="col-3">
            <p class="orange"></p>
            <P>late Book (more than 15 Days) </P>
        </div>
        <div  class="cen" class="col-3">
            <p class="green"></p>
            <P>Returned Book</P>
        </div>
        <div align="center" class="cen">

            <p class="fas fa-exchange-alt"></p>
            <P>Click This icon For Returning The book</P>
        </div>
    </div>
</div>



<section  class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Sl.No</th>
                <th>Book Id</th>
                <th>Book Name</th>
                <th>Author</th>
                <th>Gener</th>
                <th>Member Id</th>
                <th>Member Name</th>
                <th>Date</th>                
                {{!-- <th>Status</th>                 --}}
            </tr>
        </thead>
        <tbody onclick="click('{{dt}}')"  style="color: #fff;">
            {{#each rend}}
                {{#if bkdatestatus}}
                    <tr id="{{this._id}}" onclick="calc('{{dt}}',this)" style="background-color: rgb(224, 108, 30)" >
                        {{#if status}}
                        <tr id="{{this._id}}" onclick="calc('{{dt}}',this)" style="background-color: rgb(76, 212, 35)" >
                        {{/if}}
                {{else}}
                    <tr id="{{this._id}}" onclick="calc('{{dt}}',this)" style="background-color: #fff;color: black;" >
                {{/if}}
                <td>{{this.id}} </td>                
                <td>{{this.bk_id}}</td>
                <td>{{this.bk_nm}}</td>
                <td>{{this.au_name}}</td>
                <td>{{this.gen}}</td>
                <td>{{this.mem_id}}</td>
                <td>{{this.mn}}</td>
                <td>{{this.dt}} </td>
                {{#if status}}
                
                {{else}}
                    <td onclick="myFunction('{{this._id}}')" id="id" ><span class="fas fa-exchange-alt "></span> </td>
                {{/if}}
            </tr>            
 
            {{/each}}
        </tbody>
    </table>
</section>
<div id="demo" style="font-size: 100px;"></div>
<script>

    function myFunction(id){
        var txt;
        var r = confirm("Are You sure to Return Book");
        if (r == true) {
            
            window.location.assign('/return-book/' + id)
        } else {
            tx
        }
        
    }
    
</script>

</script>
<style>
    .cen{
        padding-left: 5em;
    }
    p.orange {
    width: 1rem;
    height: 1rem;
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
    }

p.green {
    width: 1rem;
    height: 1rem;
    background-color: rgb(76, 212, 35);
    margin-left: auto;
    margin-right: auto;
}
p.white {
    width: 1rem;
    height: 1rem;
    background-color: rgb(255, 255, 255);

    border: solid black;
    margin-left: auto;
    margin-right: auto;
}
</style>