<div align="center" class="cen" >
    <p class="red"></p> 
    <p>Given Book</p>

</div>
<div align="center" class="cen">

    <p class="green"></p>
    <P>Returned Book</P>
</div>

<div align="center" class="cen">

    <p class="fas fa-exchange-alt"></p>
    <P>Click This icon For Returning The book</P>
</div>


<section  class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Sl.No</th>
                <th>Book Id</th>
                <th>Book Name</th>
                <th>Author</th>
                <th>Gener</th>
                <th>Member Id</th>
                <th>Member Name</th>
                <th>Date</th>                
                {{!-- <th>Status</th>                 --}}
            </tr>
        </thead>
        <tbody onclick="click('{{dt}}')"  style="color: #fff;">
            {{#each rend}}
                {{#if status}}
                <tr id="{{this._id}} " onclick="calc('{{dt}}',this)"  style="background-color: rgb(145, 207, 145);">
                {{else}}
                <tr id="{{this._id}} " onclick="calc('{{dt}}',this)"   style="background-color: rgb(253, 116, 116)">
                {{/if}}
                <td>{{this.id}} </td>                
                <td>{{this.bk_id}}</td>
                <td>{{this.bk_nm}}</td>
                <td>{{this.au_name}}</td>
                <td>{{this.gen}}</td>
                <td>{{this.mem_id}}</td>
                <td>{{this.mn}}</td>
                <td>{{this.dt}} </td>
                {{#if status}}
                
                {{else}}
                    <td onclick="myFunction('{{this._id}}')" id="id" ><span class="fas fa-exchange-alt "></span> </td>
                {{/if}}
            </tr>            
 
            {{/each}}
        </tbody>
    </table>
</section>
<div id="demo" style="font-size: 100px;"></div>
<script>

    function myFunction(id){
        var txt;
        var r = confirm("Are You sure to Return Book");
        if (r == true) {
            
            window.location.assign('/return-book/' + id)
        } else {
            tx
        }
        
    }
    function calc(date,ic){
        console.log(date)

        // Set the date we're counting down to
        var countDownDate = new Date("aug 5, 2021 15:37:25").getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

        // Get today's date and time
        var now = new Date().getTime();
            
        // Find the distance between now and the count down date
        var distance = now - countDownDate;
            
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        
            
        // Output the result in an element with id="demo"
        document.getElementById('demo').innerHTML = days 
            
        // If the count down is over, write some text 
        if (distance >15) {
            clearInterval(x);
            ic.style.backgroundColor = 'blue'
        }
        }, 1000);
    }
</script>

</script>