<div class="row p-4">
    <table class="table table-borderless col-12 table-hover table-responsive">
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col" class="d-lg-bl">Gender</th>
        <th scope="col" class="d-xs-bl">Age</th>
        <th scope="col">Mobile</th>
        <th scope="col" class="d-lg-bl">Date of Joining</th>
        <th scope="col" class=" d-sm-bl">Recommented by</th>
        <th scope="col" class="d-md-bl">Adress</th>
        </tr>
    </thead>
    <tbody>
        {{#each members}}
        <tr onclick="window.location.href='/view-member/{{this.id}}'">
            <th scope="row">{{this.id}} </th>
            <td>{{this.name}}</td>
            <td class="d-lg-bl">{{this.gen}} </td>
            <td class="d-xs-bl">{{this.age}}</td>
            <td><a href="tel:+91{{this.mob}}">{{this.mob}}</a></td>
            <td class="d-lg-bl">{{this.doa}}</td>
            <td class=" d-sm-bl">{{this.rb}}</td>
            <td class=" d-md-bl">
                {{this.hn}} <br>
                {{this.po}} <br>
                {{this.pin}}
            </td>
        </tr>
        {{/each}}
    </tbody>
    </table>    
</div>

<style>

    .table-responsive {
    display: inline-table;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
@media(max-width:700px){
    .table-responsive {
    display: block;
    width: 134%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

}
@media (max-width: 358px) { .d-xs-bl{display: none !important;}}

@media (max-width: 576px) { .d-sm-bl{display: none !important;}}

@media (max-width: 768px) {.d-md-bl{display: none !important;} }

@media (max-width: 992px) {.d-lg-bl{display: none !important;}}
</style>