
<section>
    <div class="row container-fluid">
        <div class="col-lg-6 b-r">
            <h3 class="text-center ">
                Profile
                <hr class="pro">
            </h3>
            <table class="table hi table-borderless">
                <tbody>
                        <tr>
                            <th scope="row">Name</th>
                            <td>{{member.name}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Age</th>
                            <td>{{member.age}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Gender</th>
                            <td>{{member.gen}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Mobile</th>
                            <td>{{member.mob}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Date of Admission</th>
                            <td>{{member.doa}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Address</th>
                            <td>{{member.hn}} <br>
                                {{member.po}} <br>
                                {{member.pin}}</td>
                        </tr>                         
                        <tr>
                            <th scope="row">Recommented By</th>
                            <td >{{member.rb}} <a href="/view-member/{{member.rb_id}}"> ({{member.rb_id}}) </a> </td>
                        </tr>                                  
                </tbody>
            </table>            
        </div>
        <div class="col-lg-6">
            <h3 class="text-center ">
                Books Taken
                <hr class="pro">
            </h3>
            {{#if result}} 
            <table class="table hi table-borderless">
                <tbody>
                        <tr>
                            <th scope="row" class="tt">Book Id</th>
                            <th scope="row" class="tt">Date</th>
                            <th scope="row" class="tt">Status</th>
                            
                        </tr>
                    {{#each result}}
                        <tr>
                            <td>   
                                <a href="/view-book/{{this.bk_id}}">{{this.bk_id}}</a>
                            </td>
                            <td>   
                               {{this.dt}}
                            </td>
                            <td>   
                               {{this.status}}
                            </td>

                        </tr>                                               
                    {{/each}}
                </tbody>
            </table>
            {{else}}
            <h6 class="mt-5 pt-3 text-center">No books had taken yet </h6> 
            {{/if}}          
        </div>
    </div>
</section>